In [1]:
import pandas as pd
import pyarrow.parquet as pq

path = "../data/processed/events.parquet"

total_rows = pq.ParquetFile(path).metadata.num_rows
print("Total rows:", total_rows)

df = pd.read_parquet(path)
df.head()

Total rows: 2060524

,captured_cmd,captured_args,timestamp,source_ip,source_port,user_agent,language,x_forwarded_for/real-ip
0,NaN,NaN,2023-01-08T08:07:15Z,104.28.209.153,61901,Mozilla/5.0 (Windows NT 10.0; rv:108.0) Gecko/...,en,104.28.209.153
1,NaN,NaN,2023-01-08T08:07:16Z,104.28.209.153,22667,Mozilla/5.0 (Windows NT 10.0; rv:108.0) Gecko/...,en,NaN
2,NaN,NaN,2023-01-08T08:07:25Z,104.28.209.153,62901,Mozilla/5.0 (Windows NT 10.0; rv:108.0) Gecko/...,en,104.28.209.153
3,NaN,NaN,2023-01-08T08:07:26Z,104.28.209.153,61879,Mozilla/5.0 (Windows NT 10.0; rv:108.0) Gecko/...,en,NaN
4,NaN,NaN,2023-01-08T08:07:34Z,104.28.209.153,46994,Mozilla/5.0 (Windows NT 10.0; rv:108.0) Gecko/...,en,104.28.209.153